/*
 * Header
 */

.application-logo {
    background-image: url("../img/bibframe-logo-s.png");
    background-repeat: no-repeat;
    background-position: -10px -10px;
    padding-left: 40px;
}


/*
 * General
 */

.click {
    cursor: pointer;
}

.property-label {
    width: 20%;
    font-weight: bold;
}

/*
 * Editor
 */

.editor .required {
    color: red;
}

.editor .nav {
    float: left;
    width: 20%;
}

.editor .nav a {
    cursor: pointer;
    padding: 0.5em 0 0.5em 1em;
}

.editor .nav .disabled {
    background: transparent;
    border-radius: 0;
    border: 0;
}

.editor .nav .active {
    background: #eee;
    border-radius: 4px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
}

.editor .nav li:first-child {
    background: transparent;
    border: 0;
}

.editor .nav .active a {
    color: black;
    cursor: text;
    font-weight: bold;
}

.editor .tab-content {
    float: left;
    width: 80%;
}

.editor .values {
    margin-left: 20%;
}

.editor .badge {
    margin-bottom: 5px;
    margin-left: 5px;
}

.editor ul .btn-group .btn-info {
    display: none;
}

.editor .match-info {
    border-bottom: 1px solid #ddd;
    line-height: 20px;
    padding: 3px 15px 4px;
    white-space: nowrap;
}

/*
 * Pivot
 */

.pivot {
    width: 65%;
    left: 17%;
    margin-left: 0;
}

/*
 * Export
 */

.export {
    width: 80%;
    left: 10%;
    margin-left: 0;
}

.export p {
    padding: 0;
}

.export textarea {
    font-family: monospace;
    width: 99%;
}

/*
 *
 */

.dropzone, .dz-clickable, .dz-default, .dz-message {
    display: inline;
}

.dz-preview {
    width: 80%;
    margin-left: 20%;
}

.dz-success-mark, .dz-error-mark, .dz-error-message {
    display: none; /* hide for now */
}
