.click {
    cursor: pointer;
}

.property-label {
    width: 20%;
    font-weight: bold;
}

.required {
    color: red;
}

.autocomplete {
    left: 20%;
    position: relative;
    top: 5px;
    width: 80%;
}

.dropdown-menu {
    display: block;
}