.click {
    cursor: pointer;
}

.property-label {
    width: 20%;
    font-weight: bold;
}

.required {
    color: red;
}

.nav {
    float: left;
    width: 20%;
}

.nav a {
    cursor: pointer;
    padding: 0.5em 0 0.5em 1em;
}

.nav .disabled {
    background: transparent;
    border-radius: 0;
    border: 0;
}

.nav .active {
    background: #eee;
    border-radius: 4px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
}

.nav li:first-child {
    background: transparent;
    border: 0;
}


.nav .active a {
    color: black;
    cursor: text;
    font-weight: bold;
}

.tab-content {
    float: left;
    width: 80%;
}

.values {
    margin-left: 20%;
}

.badge {
    margin-bottom: 5px;
    margin-left: 5px;
}

#blackout {
    background: #333;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

#export {
    left: 10%;
    position: absolute;
    top: 2em;
    width: 80%;
    z-index: 1000;
}

#export textarea {
    font-family: monospace;
    width: 100%;
}
