<!DOCTYPE html>
<html ng-app="bibframeEditor">
  <head>
    <meta charset="utf-8">
    <title>BIBFRAME Editor</title>
    <link href="css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/editor.css" rel="stylesheet">
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-0.6.0.min.js"></script>
    <script src="js/profile.js"></script>
    <script src="js/value-constraint.js"></script>
    <script src="js/property.js"></script>
    <script src="js/property-template.js"></script>
    <script src="js/resource-template.js"></script>

    <script src="js/namespace.js"></script>

    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/initializer.js"></script>

    <link rel="shortcut icon" href="http://zepheira.com/favicon.ico">
  </head>
  <body ng-controller="EditorCtrl">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#"><span class="application-logo"></span>BIBFRAME Editor</a>

          <ul class="nav pull-right">
            <li class="active"><a href="#"><i class="icon-home"></i> Sally</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Notices <span class="badge badge-info">3</span></a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Help</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container editor">
      <tabset vertical="true" type="tabs">
        <tab disabled="true">
          <tab-heading ng-show="!activeResource"></tab-heading>
          <div class="hero-unit" ng-show="initialized">
            <h2>Hi.</h2>
            <p>Click an instance on the left to begin cataloging that type.</p>
            <br><br>
          </div>
          <div class="hero-unit" ng-show="!initialized">
            <h2>Hey! Listen!</h2>
            <p>Before you get to your cataloging, we'll need to load up some profiles for you. Hang in there.</p>
          </div>
        </tab>
        <tab ng-repeat="profile in profileOptions | orderBy:'sortKey'" select="newEdit(profile)" disabled="isDirty||profile.disabled">
          <tab-heading><span ng-show="!profile.disabled"><i class="icon-chevron-right"></i> </span>{{profile.label}}<span ng-show="profile.disabled">:</span></tab-heading>
          <div ng-show="activeResource&&activeResource.getClassID()==profile.uri" ng-include="'resource.html'"></div>
        </tab>
      </tabset>
    </div>

    <script type="text/ng-template" id="edit-literal.html">
      <div class="modal-body">
        <form class="form-inline" ng-submit="save()">
          <label class="property-label" for="literal">{{property}}</label>
          <input id="literal" class="input-xlarge" ng-model="editing.value" type="text">
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </script>

    <script type="text/ng-template" id="export.html">
      <div class="modal-header">
        <h2>It's Dangerous To Go Alone! Take This.</h2>
      </div>
      <div class="modal-body">
        <p><textarea rows="10" readonly>{{rdf}}</textarea></p>
      </div>
      <div class="modal-footer">
        <p class="text-center"><button class="btn" ng-click="close()">Close</button></p>
      </div>
    </script>

    <script type="text/ng-template" id="pivot.html">
      <div class="modal-header">
        <h3>New {{typeLabel}}</h3>
      </div>
      <div class="modal-body" ng-include="'resource.html'">
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </script>

    <script type="text/ng-template" id="basic.html">
      <span ng-if="prop.getConstraint().hasComplexType()">
        <span ng-switch="" on="dataTypes[prop.getConstraint().getComplexTypeID()]">
          <span ng-switch-when="date" class="input-prepend input-append">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <!-- datepicker-popup should provide the format but doesn't -->
            <input type="text"
                   class="input-xlarge" 
                   id="{{profile.uri}}-{{prop.getProperty().getID()}}"
                   datepicker-popup="yyyy-MM-dd"
                   show-weeks="false"
                   ng-model="inputted"
                   ng-enter="setDateValue(currentWork,prop,inputted,'literal');inputted=''"
                   ng-disabled="!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0">
            <button ng-show="prop.isRepeatable()" class="btn" type="button" ng-disabled="!inputted" ng-click="setDateValue(currentWork,prop,inputted,'literal');inputted=''">Add</button>
            <button ng-show="!prop.isRepeatable()" class="btn" type="button" ng-disabled="!inputted" ng-click="setDateValue(currentWork,prop,inputted,'literal');inputted=''">Set</button>
          </span>
          <span ng-switch-default class="input-prepend input-append">
            <span class="add-on" ng-show="prop.getConstraint().hasHint()">{{prop.getConstraint().getComplexTypeLabelHint()}}</span>
            <input type="text" class="input-xlarge" id="{{profile.uri}}-{{prop.getProperty().getID()}}" ng-model="inputted" ng-enter="setTextValue(currentWork,prop,inputted,'literal');inputted=''" ng-disabled="!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0">
            <button ng-show="prop.isRepeatable()" class="btn" type="button" ng-disabled="!inputted" ng-click="setTextValue(currentWork,prop,inputted,'literal');inputted=''">Add</button>
            <button ng-show="!prop.isRepeatable()" class="btn" type="button" ng-disabled="!inputted" ng-click="setTextValue(currentWork,prop,inputted,'literal');inputted=''">Set</button>
          </span>
        </span>
      </span>
      <span ng-if="!prop.getConstraint().hasComplexType()" class="input-append">
        <input type="text" class="input-xlarge" id="{{profile.uri}}-{{prop.getProperty().getID()}}" ng-model="inputted" ng-enter="setTextValue(currentWork,prop,inputted,'literal');inputted=''" ng-disabled="!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0">
        <button ng-show="prop.isRepeatable()" class="btn" type="button" ng-disabled="!inputted" ng-click="setTextValue(currentWork, prop,inputted,'literal');inputted=''">Add</button>
        <button ng-show="!prop.isRepeatable()" class="btn" type="button" ng-disabled="!inputted" ng-click="setTextValue(currentWork, prop,inputted,'literal');inputted=''">Set</button>
      </span>
    </script>

    <script type="text/ng-template" id="advanced.html">
      <span ng-if="prop.getConstraint().hasReference()">
        <input type="text"
               class="input-xlarge"
               placeholder="Type to search"
               ng-model="selected"
               ng-required="prop.isRequired()"
               ng-disabled="!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0"
               typeahead="option.label for option in autocomplete(prop,$viewValue)"
               typeahead-on-select="selectValue(prop,$item,'resource');selected=null"
               typeahead-min-length="1"
               typeahead-editable="false"
               typeahead-loading="loading[prop.getProperty().getID()]"
               id="{{profile.uri}}-{{prop.getProperty().getID()}}">
        <!-- @@@ disabled except when active and matches are empty -->
        <!-- @@@ take value as typed and use as label -->
        <span ng-if="!prop.getConstraint().hasManyReferences()">
          <button class="btn"
                type="button"
                tooltip="Click to create a new resource"
                tooltip-placement="right"
                ng-disabled="!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0"
                ng-click="pivot(prop,prop.getConstraint().getReference(),idToTemplate[prop.getConstraint().getReference()].getLabel())"><i class="icon-plus"></i></button>
        </span>
        <span ng-if="prop.getConstraint().hasManyReferences()" class="dropdown">
          <a class="dropdown-toggle">
            <button class="btn"
                  type="button"
                  tooltip="Select resource to create"
                  tooltip-placement="right">
              <i class="icon-plus"></i><b class="caret"></b>
            </button>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="ref in prop.getConstraint().getReference()">
              <a ng-click="pivot(prop,ref,idToTemplate[ref].getLabel())" class="click">{{idToTemplate[ref].getLabel()}}</a>
            </li>
          </ul>
        </span>
      </span>
      <span ng-show="loading[prop.getProperty().getID()]"><img src="img/spinner.gif"></span>
    </script>

    <script type="text/ng-template" id="resource.html">
      <form class="form-inline well" ng-submit="submit()">
        <p ng-show="hasRequired">Properties marked with <span class="required">*</span> are required.</p>
        <div ng-repeat="prop in resourceTemplates[profile.uri].getPropertyTemplates()">
          <p>
            <label for="{{profile.uri}}-{{prop.getProperty().getID()}}" class="property-label">{{prop.getProperty().getLabel()}}<span ng-show="prop.isRequired()" class="required">*</span></label>
            <span ng-switch="" on="prop.getType()">
              <span ng-switch-when="literal">
                <span ng-include="'basic.html'"></span>
              </span>
              <span ng-switch-when="resource">
                <span ng-include="'advanced.html'"></span>
              </span>
            </span>
          </p>
          <ul class="values">
            <li ng-repeat="val in currentWork[prop.getProperty().getID()]" class="badge badge-info">
              <span ng-show="prop.isLiteral()" class="click" ng-click="editLiteral(currentWork,prop,val)" title="Edit"><i class="icon-edit"></i> {{val.label}}</span>
              <span ng-show="!prop.isLiteral()">{{val.label}}</span>
              <i title="Remove" class="icon-remove click" ng-click="removeValue(currentWork,prop,val)"></i>
            </li>
          </ul>
        </div>
        <div class="form-actions" ng-if="!pivoting">
          <button class="btn" type="button" ng-click="reset()" ng-disabled="!isDirty">Clear</button>
          <button class="btn btn-primary btn-large" type="button" ng-click="submit()" ng-disabled="!isDirty">Export</button>
        </div>
      </form>
    </script>

    <!-- forked typeahead template -->
    <script type="text/ng-template" id="template/typeahead/typeahead-popup.html">
      <ul class="typeahead dropdown-menu" ng-style="{display: isOpen()&&'block' || 'none', top: position.top+'px', left: position.left+'px'}">
        <li class="match-info"><span class="muted">Not the right match? Use the <i class="icon-plus"></i> button to create a new resource</span></li>
        <li ng-repeat="match in matches" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)">
          <typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></typeahead-match>
        </li>
      </ul>
    </script>

  </body>
</html>
