<!DOCTYPE html>
<html ng-app="bibframeEditor">
  <head>
    <meta charset="utf-8">
    <title>BIBFRAME Scribe</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/editor.css" rel="stylesheet">
    <link href="css/dropzone-basic.css" rel="stylesheet">
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-0.13.1-SNAPSHOT.min.js"></script>
    <script src="js/lib/http-throttler.js"></script>
    <script src="js/lib/dropzone.min.js"></script>
    <script>Dropzone.autoDiscover = false;</script>
    <script src="js/lib/rdf_store_min.js"></script>
    <script src="js/profile.js"></script>
    <script src="js/value-constraint.js"></script>
    <script src="js/property.js"></script>
    <script src="js/property-template.js"></script>
    <script src="js/resource-template.js"></script>

    <script src="js/pred-object.js"></script>
    <script src="js/namespace.js"></script>

    <script src="js/services.js"></script>
    <script src="js/initializer.js"></script>
    <script src="js/controllers.js"></script>

    <link rel="shortcut icon" href="http://zepheira.com/favicon.ico">
  </head>
  <body ng-controller="EditorCtrl">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span class="application-logo"></span>BIBFRAME Scribe</a>
      </div>

      <ul class="nav navbar-nav pull-right">
        <li class="active"><a href="#"><i class="icon-home"></i> Eric</a></li>
        <li><a href="./activity.html">Activity <span class="badge badge-info">3</span></a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>

    <div class="container editor">
      <div id="messages">
        <alert
             ng-repeat="msg in messages"
             type="{{msg.severity}}"
             close="closeMsg($index)">
           {{msg.message}}
        </alert>
      </div>

      <div class="row">
        <tabset vertical="true" type="tabs" class="col-md-10">
          <tab disable="true">
            <tab-heading ng-show="!activeResource"></tab-heading>
            <div class="jumbotron" ng-show="initialized">
              <h2>Hi.</h2>
              <p>Click an instance on the left to begin cataloging that type.</p>
              <br><br>
            </div>
            <div class="jumbotron" ng-show="!initialized">
              <h2>Hey! Listen!</h2>
              <p>Before you get to your cataloging, we'll need to load up some profiles for you. Hang in there.</p>
              <progressbar value="progress" class="active progress-striped"></progressbar>
            </div>
          </tab>
          <tab ng-repeat="resource in resourceOptions | orderBy:'sortKey'" select="newEdit(resource)" disable="flags.isDirty">
            <tab-heading><span ng-show="resource.child"><i class="icon-chevron-right"></i> </span>{{resource.label}}</tab-heading>
            <div ng-show="activeResource&&activeResource.getClassID()==resource.uri" ng-include="'resource.html'"></div>
          </tab>
        </tabset>
        
        <div class="col-md-2 text-muted">
          <h4 tooltip="Disable an external service if you're not interested in seeing its results come up in a typeahead search."
              tooltip-placement="top">External Services</h4>
          <form class="form-horizontal">
            <div ng-repeat="(provider, pnames) in config.providerList">
              <input type="checkbox"
                     id="services-{{provider}}"
                     ng-model="useServices[provider]"
                     ng-init="useServices[provider]=true">
              <label for="services-{{provider}}"
                     title="{{pnames.full}}">
                <small>{{pnames.short}}</small>
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script type="text/ng-template" id="edit-literal.html">
      <div class="modal-body">
        <form class="form-horizontal" ng-submit="save()">
          <label class="property-label control-label col-md-2" for="literal">{{property}}</label>
          <span ng-if="!prop.hasConstraint()||(prop.hasConstraint()&&prop.getConstraint().isEditable())">
            <span ng-switch="" on="prop.getType()">
              <span ng-switch-when="resource">
                <span ng-include="'advanced.html'"></span>
              </span>
              <span ng-switch-default>
                <span ng-include="'basic.html'"></span>
              </span>
            </span>
          </span>
          <span ng-if="prop.hasConstraint()&&!prop.getConstraint().isEditable()">
            <span ng-include="'ineditable.html'"></span>
          </span>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </script>

    <script type="text/ng-template" id="export.html">
      <div class="modal-header">
        <h2>It's Dangerous To Go Alone! Take This.</h2>
      </div>
      <div class="modal-body">
        <p><textarea rows="10" readonly>{{rdf}}</textarea></p>
      </div>
      <div class="modal-footer">
        <p class="text-center"><button class="btn btn-default" ng-click="close()">Close</button></p>
      </div>
    </script>

    <script type="text/ng-template" id="pivot.html">
      <div class="modal-header">
        <h3>New {{typeLabel}}</h3>
      </div>
      <div class="modal-body" ng-include="'resource.html'">
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </script>

    <script type="text/ng-template" id="ineditable.html">
      <span class="text-muted" title="This value was set by the profile designer and cannot be modified">Profile default value</span>
      <ul class="values">
        <li class="badge badge-info">
          <span ng-if="prop.getConstraint().hasDefaultLiteral()">
            <span ng-if="prop.getConstraint().hasDefaultURI()">
              <span title="{{prop.getConstraint().getDefaultURI()}}">{{prop.getConstraint().getDefaultLiteral()}}</span>
            </span>
            <span ng-if="!prop.getConstraint().hasDefaultURI()">
              {{prop.getConstraint().getDefaultLiteral()}}
            </span>
          </span>
          <span ng-if="!prop.getConstraint().hasDefaultLiteral()&&prop.getConstraint.hasDefaultURI()">
            {{prop.getConstraint().getDefaultURI()}}
          </span>
        </li>
      </ul>
    </script>

    <script type="text/ng-template" id="basic.html">
      <span ng-if="prop.getConstraint().hasComplexType()">
        <span ng-switch="" on="dataTypes[prop.getConstraint().getComplexTypeID()]">
          <span ng-switch-when="date" class="input-group">
            <span class="input-group-addon"><i class="icon-calendar"></i></span>
            <input type="text"
                   class="form-control"
                   id="{{resource.uri}}-{{prop.getProperty().getID()}}"
                   datepicker-popup="yyyy-MM-dd"
                   datepicker-options="{'show-weeks': false}"
                   show-button-bar="false"
                   is-open="opened"
                   ng-focus="opened=true"
                   ng-model="inputted[prop.getProperty().getID()]"
                   ng-enter="setDateValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''"
                   ng-disabled="!editExisting&&!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0">
            <span class="input-group-btn">
              <button ng-show="!editExisting&&prop.isRepeatable()" class="btn btn-default" type="button" ng-disabled="!inputted[prop.getProperty().getID()]" ng-click="setDateValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''">Add</button>
              <button ng-show="!editExisting&&!prop.isRepeatable()" class="btn btn-default" type="button" ng-disabled="!inputted[prop.getProperty().getID()]" ng-click="setDateValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''">Set</button>
            </span>
          </span>
          <span ng-switch-default class="input-group">
            <span class="input-group-addon" ng-show="prop.getConstraint().hasHint()">{{prop.getConstraint().getComplexTypeLabelHint()}}</span>
            <input type="text" class="form-control" id="{{resource.uri}}-{{prop.getProperty().getID()}}" ng-model="inputted[prop.getProperty().getID()]" ng-enter="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''" ng-disabled="!editExisting&&!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0">
            <span class="input-group-btn">
              <button ng-show="!editExisting&&prop.isRepeatable()" class="btn btn-default" type="button" ng-disabled="!inputted[prop.getProperty().getID()]" ng-click="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''">Add</button>
              <button ng-show="!editExisting&&!prop.isRepeatable()" class="btn btn-default" type="button" ng-disabled="!inputted[prop.getProperty().getID()]" ng-click="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''">Set</button>
            </span>
          </span>
        </span>
      </span>
      <span ng-if="!prop.getConstraint().hasComplexType()" class="input-group">
        <input type="text" class="form-control" id="{{resource.uri}}-{{prop.getProperty().getID()}}" ng-model="inputted[prop.getProperty().getID()]" ng-enter="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''" ng-disabled="!editExisting&&!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0">
        <span class="input-group-btn">
          <button ng-show="!editExisting&&prop.isRepeatable()" class="btn btn-default" type="button" ng-disabled="!inputted[prop.getProperty().getID()]" ng-click="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''">Add</button>
          <button ng-show="!editExisting&&!prop.isRepeatable()" class="btn btn-default" type="button" ng-disabled="!inputted[prop.getProperty().getID()]" ng-click="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''">Set</button>
        </span>
      </span>
    </script>

    <script type="text/ng-template" id="advanced.html">
      <span ng-if="!prop.getConstraint().hasReference()" class="input-group">
        <span class="input-group-addon">URL</span>
        <input type="text" class="form-control" id="{{resource.uri}}-{{prop.getProperty().getID()}}" ng-model="inputted[prop.getProperty().getID()]" ng-enter="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''" ng-disabled="!editExisting&&!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0">
        <span class="input-group-btn">
          <button ng-show="!editExisting&&prop.isRepeatable()" class="btn btn-default" type="button" ng-disabled="!inputted[prop.getProperty().getID()]" ng-click="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''">Add</button>
          <button ng-show="!editExisting&&!prop.isRepeatable()" class="btn btn-default" type="button" ng-disabled="!inputted[prop.getProperty().getID()]" ng-click="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''">Set</button>
        </span>
      </span>

      <span ng-if="prop.getConstraint().hasReference()">
        <span ng-if="resourceTypes[idToTemplate[prop.getConstraint().getReference()].getClassID()]=='dropzone'">
          <div dropzone class="dropzone" dz-property="{{prop.getProperty().getID()}}" dz-repeatable="{{prop.isRepeatable()}}" dz-resource="{{resource.uri}}" dz-type="{{idToTemplate[prop.getConstraint().getReference()].getClassID()}}"></div>
        </span>
        <span class="input-group" ng-if="resourceTypes[idToTemplate[prop.getConstraint().getReference()].getClassID()]!='dropzone'">
          <input type="text"
               class="form-control"
               placeholder="Type to search"
               ng-model="inputted[prop.getProperty().getID()]"
               ng-model-options="{debounce: 1000}"
               ng-required="prop.isRequired()"
               ng-disabled="!editExisting&&!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0"
               typeahead="option.label for option in autocomplete(prop,$viewValue)"
               typeahead-on-select="selectValue(prop,$item);inputted[prop.getProperty().getID()]=null"
               typeahead-min-length="1"
               typeahead-editable="false"
               typeahead-loading="loading[prop.getProperty().getID()]"
               typeahead-template-url="typeahead-match.html"
               id="{{resource.uri}}-{{prop.getProperty().getID()}}">
          <span ng-if="!editExisting&&!prop.getConstraint().hasManyReferences()" class="input-group-btn">
            <button class="btn btn-default"
                type="button"
                tooltip="Click to create a new resource"
                tooltip-placement="right"
                ng-disabled="!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0"
                ng-click="pivot(prop,prop.getConstraint().getReference())"><i class="icon-plus"></i></button>
            <!-- @@@ pivot(... inputted[prop.getProperty().getID()]) -->
          </span>
          <span ng-if="!editExisting&&prop.getConstraint().hasManyReferences()" class="dropdown input-group-btn" dropdown>
            <button class="btn btn-default dropdown-toggle"
                  dropdown-toggle
                  ng-disabled="!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0"
                  aria-haspopup="true"
                  aria-expanded="false"
                  type="button"
                  tooltip="Select resource to create"
                  tooltip-placement="right">
              <i class="icon-plus"></i><b class="caret"></b>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="ref in prop.getConstraint().getReference()">
                <a ng-click="pivot(prop,ref)" class="click">{{idToTemplate[ref].getLabel()}}</a>
                <!-- @@@ pivot(... inputted[prop.getProperty().getID()]) to pass already typed material into new resource, when appropriate label vocab is set -->
              </li>
            </ul>
          </span>
        </span>
      </span>
    </script>

    <script type="text/ng-template" id="resource.html">
      <form class="form-horizontal well" ng-submit="submit()" name="form-resource">
        <p ng-show="hasRequired">Properties marked with <span class="required">*</span> are required.</p>
        <div ng-repeat="prop in resourceTemplates[resource.uri].getPropertyTemplates()">
          <p class="form-group">
            <label for="{{resource.uri}}-{{prop.getProperty().getID()}}" class="property-label control-label col-md-3">{{prop.getProperty().getLabel()}}<span ng-show="prop.isRequired()" class="required">*</span></label>
            <span class="col-md-8" ng-if="!prop.hasConstraint()||(prop.hasConstraint()&&prop.getConstraint().isEditable())">
              <span ng-switch="" on="prop.getType()">
                <span ng-switch-when="resource">
                  <span ng-include="'advanced.html'"></span>
                </span>
                <span ng-switch-default>
                  <span ng-include="'basic.html'"></span>
                </span>
              </span>
            </span>
            <span ng-if="prop.hasConstraint()&&!prop.getConstraint().isEditable()">
              <span ng-include="'ineditable.html'"></span>
            </span>
            <span class="col-md-1" ng-show="loading[prop.getProperty().getID()]"><img src="img/spinner.gif"></span>
          </p>
          <ul class="values" ng-hide="(prop.hasConstraint()&&!prop.getConstraint().isEditable())||resourceTypes[idToTemplate[prop.getConstraint().getReference()].getClassID()]=='dropzone'">
            <li ng-repeat="val in currentWork[prop.getProperty().getID()]" class="badge badge-info">
              <span ng-show="prop.isLiteral()||(!prop.isLiteral()&&!prop.hasConstraint())" class="click" ng-click="editLiteral(currentWork,prop,val)" title="Edit"><i class="icon-edit"></i> {{val.getLabel()}}</span>
              <span ng-show="!prop.isLiteral()&&prop.hasConstraint()&&val.isCreated()" class="click" ng-click="editResource(prop,val)" title="Edit"><i class="icon-edit"></i> {{val.getLabel()}}</span>
              <span ng-show="!prop.isLiteral()&&prop.hasConstraint()&&!val.isCreated()" class="click" ng-click="showResource(val)" title="View details"><i class="icon-info-sign"></i> {{val.getLabel()}}</span>
              <i title="Remove" class="icon-remove click" ng-click="removeValue(currentWork,prop,val)"></i>
            </li>
          </ul>
        </div>
        <div ng-if="!editExisting&&!pivoting">
          <button class="btn btn-default" type="button" ng-click="reset(this, 'form-resource')">Clear</button>
          <button class="btn btn-primary btn-lg" type="button" ng-click="submit()" ng-disabled="!flags.isDirty">Save</button>
          <button class="btn btn-primary btn-lg" type="button" ng-click="export()" ng-disabled="!flags.isDirty">Export</button>
        </div>
      </form>
    </script>

    <!-- explicitly called in typeahead -->
    <script type="text/ng-template" id="typeahead-match.html">
      <a tabindex="-1"
         popover-template="'popover-resource.html'"
         popover-trigger="mouseenter"
         popover-placement="right"
         popover-popup-delay="1500"
         popover-title="{{match.model.uri}}"
         popover-class="resource">
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        <small class="text-muted match-source" bind-html-unsafe="match.model.source | uppercase"></small>
      </a>
    </script>

    <!-- forked typeahead template -->
    <script type="text/ng-template" id="template/typeahead/typeahead-popup.html">
      <ul class="typeahead dropdown-menu" ng-style="{display: isOpen()&&'block' || 'none', top: position.top+'px', left: position.left+'px'}">
        <li class="match-info"><span class="text-muted">Not the right match? Use the <i class="icon-plus"></i> button to create a new resource</span></li>
        <li ng-repeat="match in matches" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)">
          <typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></typeahead-match>
        </li>
      </ul>
    </script>

    <script type="text/ng-template" id="show-resource.html">
      <div class="modal-header">
        <h2>{{label}}</h2>
        <code>&lt;{{uri}}&gt;</code>
      </div>
      <div class="modal-body">
        <p><textarea rows="10" readonly>{{rdf}}</textarea></p>
      </div>
      <div class="modal-footer">
        <p class="text-center"><button class="btn btn-default" ng-click="close()">Close</button></p>
      </div>      
    </script>

    <script type="text/ng-template" id="popover-resource.html">
      <!-- $parent is incredibly undesirable, but there's no way to access
           the parent scopes from inside the Angular UI-Bootstrap directives
           (as they're currently designed) other than directly through
           $parent -->
      <span>{{$parent.$parent.$parent.$parent.popoverResource(match.model.uri)}}</span>
      <pre>{{$parent.$parent.$parent.$parent.popover.data}}</pre>
    </script>

  </body>
</html>
