<!DOCTYPE html>
<html ng-app="bibframeEditor">
  <head>
    <meta charset="utf-8">
    <title>BIBFRAME Editor</title>
    <link href="css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/editor.css" rel="stylesheet">
    <link href="css/dropzone-basic.css" rel="stylesheet">
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-0.7.0-SNAPSHOT.min.js"></script>
    <script src="js/lib/dropzone.min.js"></script>
    <script>Dropzone.autoDiscover = false;</script>
    <script src="js/profile.js"></script>
    <script src="js/value-constraint.js"></script>
    <script src="js/property.js"></script>
    <script src="js/property-template.js"></script>
    <script src="js/resource-template.js"></script>

    <script src="js/pred-object.js"></script>
    <script src="js/namespace.js"></script>

    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/initializer.js"></script>

    <link rel="shortcut icon" href="http://zepheira.com/favicon.ico">
  </head>
  <body ng-controller="EditorCtrl">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#"><span class="application-logo"></span>BIBFRAME Editor</a>

          <ul class="nav pull-right">
            <li class="active"><a href="#"><i class="icon-home"></i> Eric</a></li>
            <li class="divider-vertical"></li>
            <li><a href="./activity.html">Activity <span class="badge badge-info">3</span></a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Help</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container editor">
      <div class="row">
        <tabset vertical="true" type="tabs" class="span10">
          <tab disabled="true">
            <tab-heading ng-show="!activeResource"></tab-heading>
            <div class="hero-unit" ng-show="initialized">
              <h2>Hi.</h2>
              <p>Click an instance on the left to begin cataloging that type.</p>
              <br><br>
            </div>
            <div class="hero-unit" ng-show="!initialized">
              <h2>Hey! Listen!</h2>
              <p>Before you get to your cataloging, we'll need to load up some profiles for you. Hang in there.</p>
            </div>
          </tab>
          <tab ng-repeat="resource in resourceOptions | orderBy:'sortKey'" select="newEdit(resource)" disabled="flags.isDirty||resource.disabled">
            <tab-heading><span ng-show="!resource.disabled"><i class="icon-chevron-right"></i> </span>{{resource.label}}<span ng-show="resource.disabled">:</span></tab-heading>
            <div ng-show="activeResource&&activeResource.getClassID()==resource.uri" ng-include="'resource.html'"></div>
          </tab>
        </tabset>
        
        <div class="span2 muted">
          <h4 tooltip="Disable an external service if you're not interested in seeing its results come up in a typeahead search."
              tooltip-placement="top">External Services</h4>
          <form class="form-inline">
            <div ng-repeat="(provider, pnames) in config.providerList">
              <input type="checkbox"
                     id="services-{{provider}}"
                     checked="checked">
              <label for="services-{{provider}}"
                     title="{{pnames.full}}">
                <small>{{pnames.short}}</small>
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script type="text/ng-template" id="edit-literal.html">
      <div class="modal-body">
        <form class="form-inline" ng-submit="save()">
          <label class="property-label" for="literal">{{property}}</label>
          <span ng-switch="" on="prop.getType()">
            <span ng-switch-when="resource">
              <span ng-include="'advanced.html'"></span>
            </span>
            <span ng-switch-default>
              <span ng-include="'basic.html'"></span>
            </span>
          </span>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </script>

    <script type="text/ng-template" id="export.html">
      <div class="modal-header">
        <h2>It's Dangerous To Go Alone! Take This.</h2>
      </div>
      <div class="modal-body">
        <p><textarea rows="10" readonly>{{rdf}}</textarea></p>
      </div>
      <div class="modal-footer">
        <p class="text-center"><button class="btn" ng-click="close()">Close</button></p>
      </div>
    </script>

    <script type="text/ng-template" id="pivot.html">
      <div class="modal-header">
        <h3>New {{typeLabel}}</h3>
      </div>
      <div class="modal-body" ng-include="'resource.html'">
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </script>

    <script type="text/ng-template" id="basic.html">
      <span ng-if="prop.getConstraint().hasComplexType()">
        <span ng-switch="" on="dataTypes[prop.getConstraint().getComplexTypeID()]">
          <span ng-switch-when="date" class="input-prepend input-append">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <input type="text"
                   class="input-xlarge"
                   id="{{resource.uri}}-{{prop.getProperty().getID()}}"
                   datepicker-popup="yyyy-MM-dd"
                   show-weeks="false"
                   ng-model="inputted[prop.getProperty().getID()]"
                   ng-enter="setDateValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''"
                   ng-disabled="!editExisting&&!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0">
            <button ng-show="!editExisting&&prop.isRepeatable()" class="btn" type="button" ng-disabled="!inputted[prop.getProperty().getID()]" ng-click="setDateValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''">Add</button>
            <button ng-show="!editExisting&&!prop.isRepeatable()" class="btn" type="button" ng-disabled="!inputted[prop.getProperty().getID()]" ng-click="setDateValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''">Set</button>
          </span>
          <span ng-switch-default class="input-prepend input-append">
            <span class="add-on" ng-show="prop.getConstraint().hasHint()">{{prop.getConstraint().getComplexTypeLabelHint()}}</span>
            <input type="text" class="input-xlarge" id="{{resource.uri}}-{{prop.getProperty().getID()}}" ng-model="inputted[prop.getProperty().getID()]" ng-enter="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''" ng-disabled="!editExisting&&!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0">
            <button ng-show="!editExisting&&prop.isRepeatable()" class="btn" type="button" ng-disabled="!inputted[prop.getProperty().getID()]" ng-click="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''">Add</button>
            <button ng-show="!editExisting&&!prop.isRepeatable()" class="btn" type="button" ng-disabled="!inputted[prop.getProperty().getID()]" ng-click="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''">Set</button>
          </span>
        </span>
      </span>
      <span ng-if="!prop.getConstraint().hasComplexType()" class="input-append">
        <input type="text" class="input-xlarge" id="{{resource.uri}}-{{prop.getProperty().getID()}}" ng-model="inputted[prop.getProperty().getID()]" ng-enter="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''" ng-disabled="!editExisting&&!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0">
        <button ng-show="!editExisting&&prop.isRepeatable()" class="btn" type="button" ng-disabled="!inputted[prop.getProperty().getID()]" ng-click="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''">Add</button>
        <button ng-show="!editExisting&&!prop.isRepeatable()" class="btn" type="button" ng-disabled="!inputted[prop.getProperty().getID()]" ng-click="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''">Set</button>
      </span>
    </script>

    <script type="text/ng-template" id="advanced.html">
      <span ng-if="!prop.getConstraint().hasReference()" class="input-prepend input-append">
        <span class="add-on">URL</span>
        <input type="text" class="input-xlarge" id="{{resource.uri}}-{{prop.getProperty().getID()}}" ng-model="inputted[prop.getProperty().getID()]" ng-enter="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''" ng-disabled="!editExisting&&!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0">
        <button ng-show="!editExisting&&prop.isRepeatable()" class="btn" type="button" ng-disabled="!inputted[prop.getProperty().getID()]" ng-click="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''">Add</button>
        <button ng-show="!editExisting&&!prop.isRepeatable()" class="btn" type="button" ng-disabled="!inputted[prop.getProperty().getID()]" ng-click="setTextValue(currentWork,prop,inputted[prop.getProperty().getID()]);inputted[prop.getProperty().getID()]=''">Set</button>
      </span>

      <span ng-if="prop.getConstraint().hasReference()">
        <span ng-if="resourceTypes[idToTemplate[prop.getConstraint().getReference()].getClassID()]=='dropzone'">
          <div dropzone class="dropzone" dz-property="{{prop.getProperty().getID()}}" dz-repeatable="{{prop.isRepeatable()}}" dz-resource="{{resource.uri}}" dz-type="{{idToTemplate[prop.getConstraint().getReference()].getClassID()}}"></div>
        </span>
        <span ng-if="resourceTypes[idToTemplate[prop.getConstraint().getReference()].getClassID()]!='dropzone'">
          <input type="text"
               class="input-xlarge"
               placeholder="Type to search"
               ng-model="inputted[prop.getProperty().getID()]"
               ng-required="prop.isRequired()"
               ng-disabled="!editExisting&&!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0"
               typeahead="option.label for option in autocomplete(prop,$viewValue)"
               typeahead-on-select="selectValue(prop,$item);inputted[prop.getProperty().getID()]=null"
               typeahead-min-length="1"
               typeahead-editable="false"
               typeahead-loading="loading[prop.getProperty().getID()]"
               id="{{resource.uri}}-{{prop.getProperty().getID()}}">
          <span ng-if="!editExisting&&!prop.getConstraint().hasManyReferences()">
            <button class="btn"
                type="button"
                tooltip="Click to create a new resource"
                tooltip-placement="right"
                ng-disabled="!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0"
                ng-click="pivot(prop,prop.getConstraint().getReference())"><i class="icon-plus"></i></button>
            <!-- @@@ pivot(... inputted[prop.getProperty().getID()]) -->
          </span>
          <span ng-if="!editExisting&&prop.getConstraint().hasManyReferences()" class="dropdown">
            <a class="dropdown-toggle">
              <button class="btn"
                  ng-disabled="!prop.isRepeatable()&&currentWork[prop.getProperty().getID()]&&currentWork[prop.getProperty().getID()].length>0"
                  type="button"
                  tooltip="Select resource to create"
                  tooltip-placement="right">
                <i class="icon-plus"></i><b class="caret"></b>
              </button>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="ref in prop.getConstraint().getReference()">
                <a ng-click="pivot(prop,ref)" class="click">{{idToTemplate[ref].getLabel()}}</a>
                <!-- @@@ pivot(... inputted[prop.getProperty().getID()]) to pass already typed material into new resource, when appropriate label vocab is set -->
              </li>
            </ul>
          </span>
        </span>
        <span ng-show="loading[prop.getProperty().getID()]"><img src="img/spinner.gif"></span>
      </span>
    </script>

    <script type="text/ng-template" id="resource.html">
      <form class="form-inline well" ng-submit="submit()" name="form-resource">
        <p ng-show="hasRequired">Properties marked with <span class="required">*</span> are required.</p>
        <div ng-repeat="prop in resourceTemplates[resource.uri].getPropertyTemplates()">
          <p>
            <label for="{{resource.uri}}-{{prop.getProperty().getID()}}" class="property-label">{{prop.getProperty().getLabel()}}<span ng-show="prop.isRequired()" class="required">*</span></label>
            <span ng-switch="" on="prop.getType()">
              <span ng-switch-when="resource">
                <span ng-include="'advanced.html'"></span>
              </span>
              <span ng-switch-default>
                <span ng-include="'basic.html'"></span>
              </span>
            </span>
          </p>
          <ul class="values" ng-hide="resourceTypes[idToTemplate[prop.getConstraint().getReference()].getClassID()]=='dropzone'">
            <li ng-repeat="val in currentWork[prop.getProperty().getID()]" class="badge badge-info">
              <span ng-show="prop.isLiteral()||(!prop.isLiteral()&&!prop.hasConstraint())" class="click" ng-click="editLiteral(currentWork,prop,val)" title="Edit"><i class="icon-edit"></i> {{val.getLabel()}}</span>
              <span ng-show="!prop.isLiteral()&&prop.hasConstraint()&&val.isCreated()" class="click" ng-click="editResource(prop,val)" title="Edit"><i class="icon-edit"></i> {{val.getLabel()}}</span>
              <span ng-show="!prop.isLiteral()&&prop.hasConstraint()&&!val.isCreated()">{{val.getLabel()}}</span>
              <i title="Remove" class="icon-remove click" ng-click="removeValue(currentWork,prop,val)"></i>
            </li>
          </ul>
        </div>
        <div class="form-actions" ng-if="!editExisting&&!pivoting">
          <button class="btn" type="button" ng-click="reset(this, 'form-resource')">Clear</button>
          <button class="btn btn-primary btn-large" type="button" ng-click="submit()" ng-disabled="!flags.isDirty">Save</button>
          <button class="btn btn-primary btn-large" type="button" ng-click="export()" ng-disabled="!flags.isDirty">Export</button>
        </div>
      </form>
    </script>

    <!-- forked typeahead template -->
    <script type="text/ng-template" id="template/typeahead/typeahead-popup.html">
      <ul class="typeahead dropdown-menu" ng-style="{display: isOpen()&&'block' || 'none', top: position.top+'px', left: position.left+'px'}">
        <li class="match-info"><span class="muted">Not the right match? Use the <i class="icon-plus"></i> button to create a new resource</span></li>
        <li ng-repeat="match in matches" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)">
          <typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></typeahead-match>
        </li>
      </ul>
    </script>

    <!-- forked datepicker template -->
    <script type="text/ng-template" id="template/datepicker/datepicker.html">
      <table>
        <thead>
          <tr class="text-center">
            <th><button type="button" class="btn pull-left" ng-click="move(-1)"><i class="icon-chevron-left"></i></button></th>
            <th colspan="{{rows[0].length - 2 + showWeekNumbers}}"><button type="button" class="btn btn-block" ng-click="toggleMode()"><strong>{{title}}</strong></button></th>
            <th><button type="button" class="btn pull-right" ng-click="move(1)"><i class="icon-chevron-right"></i></button></th>
          </tr>
          <tr class="text-center" ng-show="labels.length > 0">
            <th ng-show="showWeekNumbers">#</th>
            <th ng-repeat="label in labels">{{label}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in rows">
            <td ng-show="showWeekNumbers" class="text-center"><em>{{ getWeekNumber(row) }}</em></td>
            <td ng-repeat="dt in row" class="text-center">
              <button type="button" style="width:100%;" class="btn" ng-class="{'btn-info': dt.selected}" ng-click="$parent.$parent.$parent.setDateValue($parent.$parent.$parent.currentWork,$parent.$parent.$parent.prop,dt.date);$parent.$parent.$parent.dateSelection();$parent.$parent.$parent.inputted[$parent.$parent.$parent.prop.getProperty().getID()]=''" ng-disabled="dt.disabled"><span ng-class="{muted: dt.secondary}">{{dt.label}}</span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </script>

  </body>
</html>
