/*
 * Header
 */

.application-logo {
    background-image: url("../img/bibframe-newlogo-s.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    padding-right: 10px;
}

/*
 * General
 */

.click {
    cursor: pointer;
}

.property-label {
    width: 20%;
    font-weight: bold;
}

.required {
    color: red;
}

.match-source {
    padding-left: 1em;
}

/*
 * Editor
 */

.editor .nav {
    float: left;
    width: 20%;
}

.editor .nav a {
    cursor: pointer;
    padding: 0.5em 0 0.5em 1em;
}

.editor .nav .disabled {
    background: transparent;
    border-radius: 0;
    border: 0;
}

.editor .nav .active {
    background: #eee;
    border-radius: 4px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
}

.editor .nav li:first-child {
    background: transparent;
    border: 0;
}

.editor .nav .active a {
    color: black;
    cursor: text;
    font-weight: bold;
}

.editor .tab-content {
    float: left;
    width: 80%;
}

.editor .values {
    margin-left: 20%;
}

.editor .badge {
    margin-bottom: 5px;
    margin-left: 5px;
}

.editor ul.ng-valid-date .btn-group {
    display: none;
}

.editor .match-info {
    border-bottom: 1px solid #ddd;
    line-height: 20px;
    padding: 3px 15px 4px;
    white-space: nowrap;
}

input[type="text"].typeahead-no-matches {
    background-color: #f2dede;
}

/*
 * Pivot
 */

.pivot {
    width: 65%;
    left: 17%;
    margin-left: 0;
}

/*
 * Export
 */

.export {
    width: 80%;
    left: 10%;
    margin-left: 0;
}

.export p {
    padding: 0;
}

.export textarea {
    font-family: monospace;
    width: 99%;
}
