/*
 * Header
 */

.application-logo {
    background-image: url("../img/bibframe-newlogo-s.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    padding-right: 10px;
    padding-top: 4px;
}

/*
 * General
 */

.click {
    cursor: pointer;
}

.property-label {
    font-weight: bold;
    text-align: left ! important;
}

.required {
    color: red;
}

.match-source {
    padding-left: 1em;
}

/*
 * Editor
 */

.editor .nav {
    float: left;
    width: 20%;
}

.editor .nav a {
    cursor: pointer;
}

.editor .nav .disabled a {
    background: transparent;
    border-radius: 0;
    border: 1px solid transparent;
}

.editor .nav .active {
    background: #eee;
    border-radius: 4px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
}

/* undo bootstrap */
.editor .nav .active > a, .editor .nav .active > a:hover {
    border: none;
}

/* undo bootstrap */
.nav-tabs {
    border-bottom: none;
}

.editor .nav li:first-child {
    background: transparent;
    border: 0;
}

.editor .nav .active a {
    color: black;
    cursor: text;
    font-weight: bold;
}

.editor .tab-content {
    float: left;
    width: 80%;
}

.editor .values {
    margin-left: 20%;
}

/* bootstrap missed the dropdown button's corners */
.editor .input-group-btn > .dropdown-toggle > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
}

.editor .badge {
    margin-bottom: 5px;
    margin-left: 5px;
}

/* removed from bootstrap 3 */
.badge-info {
    background-color: #3a87ad
}

.editor .match-info {
    border-bottom: 1px solid #ddd;
    line-height: 20px;
    padding: 3px 15px 4px;
    white-space: nowrap;
}

input[type="text"].typeahead-no-matches {
    background-color: #f2dede;
}

/*
 * Pivot
 */

.pivot {
    width: 65%;
    left: 17%;
    margin-left: 0;
}

/*
 * Export
 */

.export {
    width: 80%;
    left: 10%;
    margin-left: 0;
}

.export p {
    padding: 0;
}

.export textarea {
    font-family: monospace;
    width: 99%;
}
